.display-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: auto;
    min-height: 80vh;
}
    .display-sections{
        padding: var(--Pad16);
        border-radius: var(--Pad8);
    }
    .filters-container{
        background-color: var(--Gris);
    }
        .filters-list{
            width: 100%;
            height: auto;
            position: relative;
        }
            .filter-display{
                background-color: var(--Blanco);
                border: 1px solid var(--Gris2);
                border-radius: var(--Pad8);
                padding: var(--Pad16);
                margin-bottom: var(--Pad8);
                overflow: hidden;
                position: relative;
            }
                .filter-details{
                    cursor: pointer;
                    list-style: none;
                }
                    .filter-summary{
                        justify-content: start;
                        gap: var(--Pad8);
                    }
                        .filter-summary > p{
                            font-weight: bold;
                        }
                        .filter-icon{
                            width: var(--Pad16);
                            height: auto;
                            aspect-ratio: 1/1;
                        }
                        .filter-visual{
                            width: var(--Pad16);
                            height: auto;
                            aspect-ratio: 1/1;
                            margin-left: auto;
                            transform: rotate(-180deg);
                        }
                            .filter-visual > svg{
                                stroke-width: 3px;
                            }
                .filter-body{
                    display: grid;
                    grid-template-rows: 0fr;
                    opacity: 0;
                    margin-top: 0;
                }
                    .inner-content{
                        overflow: hidden;
                    }
                .filter-details[open] .filter-visual{
                    transform: rotate(0deg);
                }
                .filter-details[open] + .filter-body{
                    grid-template-rows: 1fr;
                    opacity: 1;
                    margin-top: var(--Pad8);
                }


            
    article{
        background-color: black;
    }
